<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter">

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">

  <script src="https://kit.fontawesome.com/3fce789363.js" crossorigin="anonymous" defer></script>
  {% endblock head %}

  <title>{% block title %}Home{% endblock %} | Moessie</title>
</head>

<body>
  <div class="container mx-auto min-h-screen p-8">
    <h1 class="text-center text-xl font-bold">Subscriptions</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 md:my-0 md:place-content-center h-screen">
      {% block contents %}{% endblock contents %}
    </div>
  </div>

  {% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
  {% endblock scripts %}
</body>

</html>
