{% extends "base.html" %}

{% block contents %}
{% for d in data %}
<div class="flex flex-col">
  <div class="p-6 flex flex-1 flex-col bg-white gap-3 border-2 border-black rounded-2xl shadow-[3px_3px_0px_1px_black] justify-between">
    <div class="flex flex-col space-y-2">
      {% if d.image_url %}
      <div>
        <img src="{{d.image_url}}" class="h-6" alt="{{d.name}}" />
      </div>
      {% endif %}

      <div class="flex items-center align-middle">
        <h1 class="text-2xl font-bold flex-1">{{d.name}}</h1>
      </div>
    </div>

    {% if d.members %}
    <div
      class="flex flex-wrap hover:bg-gray-200/50 w-fit rounded-full cursor-pointer transition ease-in-out delay-75">
      {% for m in d.members %}
      <div class="w-6 h-6 m-1 ring-2 ring-gray-100 bg-white rounded-full flex justify-center items-center">
        {{m[0]|capitalize}}</div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="flex flex-col gap-1">
      <h4 class="flex-1 text-base"><b>{{d.currency}} {{d.price|format_currency}}</b>{{d.billing|billing_label}}</h4>
      <h6 class="text-base text-gray-500">
        {% if d.active %}
          next: {{d|next_payment}}
        {% else %}
          last: {{d.last_subscribed_date|format_date}}
        {% endif %}
      </h6>
    </div>
  </div>
</div>
{% endfor %}
{% endblock contents %}
