{% extends "base.html" %}

{% block contents %}
{% for d in data %}
<div class="border-2 border-black rounded-md p-3 shadow-[3px_3px_0px_1px_black]">

  <div class="text-center font-bold text-lg">{{d.name}}</div>

  <div class="grid grid-cols-1 md:grid-cols-2 font-semibold text-center text-sm items-center my-1">
    <div class="text-green-600">
      {{d.price|format_currency}}{{d.billing|billing_label}}
    </div>
    <div class="{% if d.active %}text-sky-600{% else %}text-red-600{% endif %}">
      {% if d.active %}next: {{d|next_payment}} {% else %} last: {{d.last_subscribed_date|format_date}}{% endif %}
    </div>
  </div>

  {% include 'member.html' %}

</div>
{% endfor %}
{% endblock contents %}
